html, body {
  display: block;
  position: absolute;
  width: 65%;
  height: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica Neue', 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  background-color: #e1e1e1;
  color: #111;
}

a {
  color: #111;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  color: #111;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

#btc-qr {
  text-align: center;
}

#top {
  text-align: center;
  width: 100%;
}

#middle {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

#bottom {
  margin-top: 50px;
  text-align: center;
}